# Ejercicio 1: creación de diccionarios de python

In [4]:
#creaccion del diccionario
planets =  {
    'name' : 'Mars',
    'moons' : 42
}

In [7]:
#recuperar valores
# Muestra el nombre del planeta y el número de lunas que tiene.
print("Name:",planets['name'] ,"/","Moons:",planets['moons'])

Name: Mars / Moons: 42

In [8]:
# Agrega la clave circunferencia con los datos proporcionados previamente
planets['circunferencia (km)'] = {
    'polar' : 6752,
    'equatorail': 6792
}

In [14]:
# Imprime el nombre del planeta con su circunferencia polar.
print("Name planet:",planets['name'],"/","Circunferencia polar:",planets['circunferencia (km)']['polar'])

Name planet: Mars / Circunferencia polar: 6752

# Ejercicio 2 : Programación dinamica con diccionarios

In [15]:
# Planets and moons

planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [17]:
#obtenemos la lista de lunas
moons = planet_moons.values()
planets = len(planet_moons.keys())

Total de moons

In [18]:
total_m =0
for moon in moons:
    total_m = total_m +moon
print ("El total de lunas es:",total_m)

El total de lunas es: 214

Promedio de lunas

In [19]:
total = total_m /planets

print("El promedio de lunas es:",total)

El promedio de lunas es: 17.833333333333332

# Fin :)